<nav class="navbar">
    <h3>elewa group</h3>
    <div class="nav justify-content-end">
        <a href="" class="nav-link text-white">Home</a>
        <a href="" class="nav-link text-white">About Us</a>
        <a href="" class="nav-link text-white">Social Impact</a>
        <a href="" class="nav-link text-white">Invest</a>
        <a href="" class="nav-link text-white">Venture Labs</a>
        <a href="" class="nav-link text-white">Brands</a>
        <a href="" class="nav-link text-white">Careers</a>
        <a href="" class="nav-link text-white">Contact Us</a>
    </div>
</nav>
